<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sppart.admin.productexhibition.mapper.ProductExhibitionMapper">

    <delete id="bulkDeleteByExhibitionIds">
        <if test="exhibitionIds != null and !exhibitionIds.isEmpty()">
            DELETE
            FROM product_exhibition
            <where>
                AND exhibition_id IN
                <foreach collection="exhibitionIds" item="exhibitionId" open="(" separator="," close=")">
                    #{exhibitionId}
                </foreach>
            </where>
        </if>
    </delete>

    <select id="countAll" resultType="int">
        SELECT COUNT(*)
        FROM product_exhibition;
    </select>

    <insert id="bulkInsertByExhibitionId">
        <if test="exhibitionId != null and productIds != null and !productIds.isEmpty()">
            INSERT INTO product_exhibition(product_id, exhibition_id)
            VALUES
            <foreach collection="productIds" item="productId" open="(" close=")" separator="), (">
                #{productId}, #{exhibitionId}
            </foreach>
        </if>
    </insert>

    <select id="findByExhibitionId" resultType="com.sppart.admin.productexhibition.dto.ProductExhibitionDto">
        SELECT *
        FROM product_exhibition
        WHERE exhibition_id = #{exhibitionId};
    </select>
</mapper>